*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: radial-gradient(circle at center, rgba(127, 29, 29, 0.2) 0%, transparent 35%),
              linear-gradient(135deg, #000000 0%, #1A0000 55%, #5C0A0A 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  
}
html, body {
  overflow-x: hidden;
}

.menu{
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    padding-block: 20px;
    background-color: black;
    border-bottom: #b91c1c 2px solid;
    box-shadow: #b91c1c 0px 4px 15px;
}
.menubar{
    display: none;
}
.heading{
    color: #b91c1c;
    font-size: 50px;
}
.heading2{
    color: #b91c1c;
    font-size: 50px;
    display: none;
}
a{
    text-decoration: none;
    color: #dcdcdc;
    font-size: 30px;
}
.navlist{
    list-style: none;
    display: flex;
    gap: 50px;
    
}
.herosec{
    width: 100%;
    height: 700px;
    margin-top: 100px;
    padding-block: 50px;
    border-bottom: #b91c1c 2px solid;
    box-shadow: #b91c1c 0px 4px 15px;
    color: #dcdcdc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.herocont{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.name{
    color: #b91c1c;
    font-size: 70px;
}
.cont{
    font-size: 65px;
}
.heroabout{
    font-size: 25px;
}
.heropic{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    border: #b91c1c 3px solid;
    box-shadow: #b91c1c 5px 5px 15px;
}
.pic{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}
.about{
    width: 100%;
    height: fit-content;
    padding-block: 70px;
    padding-inline: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: #b91c1c 2px solid;
    box-shadow: #b91c1c 0px 4px 15px;
}
.aboutheading{
    color: #b91c1c;
    font-size: 50px;
    margin-top: 30px;
}
.aboutpara{
    color: #dcdcdc;
    font-size: 30px;
    margin-bottom: 30px;
}
.skills{
    width: 100%;
    height: fit-content;
    padding-inline: 50px;
    padding-block: 80px;
    border-bottom: #b91c1c 2px solid;
    box-shadow: #b91c1c 0px 4px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.skillsheading{
    color: #b91c1c;
    font-size: 50px;
    margin-top: 20px;
}
.div1, .div2{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skillsdiv{
    width: 350px;
    height: 100px;
    color: #dcdcdc;
    font-size: 25px;
    border: #b91c1c 2px solid;
    box-shadow: #b91c1c 0px 4px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectsec{
    width: 100%;
    height: fit-content;
    padding-inline: 50px;
    padding-block: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-bottom: #b91c1c 2px solid;
    box-shadow: #b91c1c 0px 4px 15px;
}
.projectsheading{
    color: #b91c1c;
    font-size: 50px;
    margin-top: 20px;
}
.projectsdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.project{
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border: #b91c1c 2px solid;
    box-shadow: #b91c1c 0px 4px 15px;
    border-radius: 10px;
}
.projectpic1, .projectpic2{
    width: 100%;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.contactsec{
    width: 100%;
    height: 600px;
    background-color: black;
    border-bottom: #b91c1c 2px solid;
    box-shadow: #b91c1c 0px -4px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.contactheading{
    color: #b91c1c;
    font-size: 50px;
}
form{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
input{
    width: 400px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    padding-inline: 10px;

}
textarea{
    width: 400px;
    height: 150px;
    font-size: 20px;
    border-radius: 10px;
    padding-block: 10px;
    padding-inline: 10px;
}
.sendbtn{
    width: 400px;
    height: 50px;
    background-color: #b91c1c;
    border-radius: 10px;
    color: #dcdcdc;
}
.sendbtn:hover{
    background-color: #7f0e0e;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.icons a {
    color: #dcdcdc; /* Default color white */
    font-size: 30px;
    transition: 0.3s ease;
}

.icons a:hover {
    color: var(--clr, #b91c1c); /* Hover color from inline variable */
    transform: scale(1.1); /* Slight zoom effect */
}
.footer{
    width: 100%;
    height: 60px;
    background-color: black;
    color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 1450px){
    .menubar{
        display: block;
        color: #dcdcdc;
        font-size: 30px;
    }
    .navlist{
        display: none;
    }
    .navlist.show{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        position: absolute;
        top: 80px;
        left: 0px;
        background-color: black;
        padding: 20px;
        border-bottom: #b91c1c 2px solid;
        border-top: #b91c1c 2px solid;
        box-shadow: #b91c1c 0px 4px 15px;
    }
    a{
        font-size: 20px;
    }
    
}
@media(max-width: 1300px){
    .navlist.show{
        width: 100%;
        height: fit-content;
        gap: 20px;
    }
    a{
        font-size: 15px;
    }
    .herosec{
        width: 100%;
        height: 500px;
    }
    .herocont{
        width: 300px;
        height: 300px;
    }
    .name{
        font-size: 50px;
    }
    .cont{
        font-size: 40px;
    }
    .heroabout{
        font-size: 15px;
    }
    .heropic{
        height: 300px;
        width: 300px;
    }
    .about{
        width: 100%;
        height: fit-content;
        padding-block: 70px;
    }
    .aboutheading{
        font-size: 40px;
    }
    .aboutpara{
        font-size: 20px;
    }
    .skillsheading{
        font-size: 40px;
    }
    .skillsdiv{
        width: 250px;
        height: 80px;
        font-size: 15px;
    }
}
@media(max-width: 930px){
    .heading{
        display: none;
    }
    .heading2{
        display: block;
        font-size: 30px;
    }
    .navlist.show{
        width: 100%;
        height: fit-content;
        gap: 15px;
        top: 60px;
    }
    .herosec{
        width: 100%;
        margin-top: 70px;
        height: 500px;
    }
    .herocont{
        width: 300px;
        height: 300px;
    }
    .heropic{
        width: 300px;
        height: 300px;
    }
    .skillsheading{
        font-size: 40px;
    }
    .skillsdiv{
        width: 200px;
        height: 70px;
        font-size: 13px;
    }
    
}
@media(max-width: 860px){
    .heading2{
        font-size: 20px;
    }
    .menubar{
        font-size: 15px;
    }
    .herosec{
        width: 100%;
        height: fit-content;
        margin-top: 50px;
        padding-block: 70px;
        padding-inline: 20px;
        flex-direction: row;
        gap: 50px;
    
    }
    .herocont{
        width: 250px;
        height: 250px;
    }
    .name{
        font-size: 40px;
    }
    .cont{
        font-size: 30px;
    }
    .heroabout{
        font-size: 15px;
    }
    .heropic{
        width: 250px;
        height: 250px;
    }
    .about{
        width: 100%;
        height: fit-content;
        padding-block: 50px;
    }
    .aboutheading{
        font-size: 30px;
    }
    .aboutpara{
        font-size: 15px;
    }
    .skillsheading{
        font-size: 30px;
    }
}
@media(max-width: 720px){
    .div1,.div2{
        flex-direction: column;
        gap: 30px;
    }
    .skillsdiv{
        width: 300px;
        height: 70px;
        font-size: 20px;
    }
}
@media(max-width: 620px){
    .herosec{
        flex-direction: column;
        gap: 40px;
    }
}
@media(max-width: 400px){
    .aboutpara{
        font-size: 12px;
    }
    .skillsdiv{
        width: 200px;
        height: 60px;
        font-size: 15px;
    }
}
