*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: radial-gradient(circle at center, rgba(127, 29, 29, 0.2) 0%, transparent 35%),
              linear-gradient(135deg, #000000 0%, #1A0000 55%, #5C0A0A 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  
}
.menu{
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    padding-block: 20px;
    background-color: black;
    border-bottom: #b91c1c 2px solid;
    box-shadow: #b91c1c 0px 4px 15px;
}
.heading{
    color: #b91c1c;
    font-size: 50px;
}
a{
    text-decoration: none;
    color: #dcdcdc;
    font-size: 30px;
}
.navlist{
    list-style: none;
    display: flex;
    gap: 50px;
    
}
.herosec{
    width: 100%;
    height: 700px;
    margin-top: 100px;
    padding-block: 50px;
    border-bottom: #b91c1c 2px solid;
    box-shadow: #b91c1c 0px 4px 15px;
    color: #dcdcdc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.herocont{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.name{
    color: #b91c1c;
    font-size: 70px;
}
.cont{
    font-size: 65px;
}
.heroabout{
    font-size: 25px;
}
.heropic{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    border: #b91c1c 3px solid;
    box-shadow: #b91c1c 5px 5px 15px;
}
.pic{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}
.about{
    width: 100%;
    height: fit-content;
    padding-block: 70px;
    padding-inline: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: #b91c1c 2px solid;
    box-shadow: #b91c1c 0px 4px 15px;
}
.aboutheading{
    color: #b91c1c;
    font-size: 50px;
    margin-top: 30px;
}
.aboutpara{
    color: #dcdcdc;
    font-size: 30px;
    margin-bottom: 30px;
}
.skills{
    width: 100%;
    height: fit-content;
    padding-inline: 50px;
    padding-block: 80px;
    border-bottom: #b91c1c 2px solid;
    box-shadow: #b91c1c 0px 4px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.skillsheading{
    color: #b91c1c;
    font-size: 50px;
    margin-top: 20px;
}
.div1, .div2{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skillsdiv{
    width: 400px;
    height: 100px;
    color: #dcdcdc;
    font-size: 25px;
    border: #b91c1c 2px solid;
    box-shadow: #b91c1c 0px 4px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectsec{
    width: 100%;
    height: fit-content;
    padding-inline: 50px;
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-bottom: #b91c1c 2px solid;
    box-shadow: #b91c1c 0px 4px 15px;
}
.projectsheading{
    color: #b91c1c;
    font-size: 50px;
}
.projectsdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.project{
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border: #b91c1c 2px solid;
    box-shadow: #b91c1c 0px 4px 15px;
    border-radius: 10px;
}
.projectpic1, .projectpic2{
    width: 100%;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}